<nav class="navbar navbar-admin navbar-expand-lg bg-body">
    <div class="container-fluid d-flex justify-content-end">

        <div class="navigation">
            <div class="navbar-nav gap-4 d-flex align-items-center">
                <a class="nav-link" href="#">
                    <div class="form-check form-switch">
                        <input class="form-check-input theme-switch" type="checkbox" role="switch" id="switch-check">
                        <label class="form-check-label" for="switch-check"></label>
                    </div>
                </a>
                <form action="{% url 'logout' %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn uni-btn px-4">Logout</button>
                </form>
            </div>
        </div>

    </div>
</nav>