{% load static %}

<aside id="sidebar" class="bg-body">
    <div class="d-flex">
        <button class="toggle-btn" type="button">
            <i class="fa-solid fa-bars"></i>
        </button>
        <div class="sidebar-logo">
            <div class="m-0">
                <img src="{% static 'admin_inventory/assets/BIMS-Logo.png' %}" alt="BIMS Logo"
                    style="width: 9.8rem; height: 2.5rem;">
            </div>
        </div>
    </div>
    <ul class="sidebar-nav">
        <li class="sidebar-logo">
            <span class="d-flex align-items-center grid gap-3 p-4">
                <img src="{% static 'admin_inventory/assets/profile.png' %}" alt="profile" style="width: 3.5rem;">
                <div class="profile_details">
                    <p class="m-0" name="name_info">Stephen Chow</p>
                    <p class="m-0" name="role" style="font-weight: 200;">Admin</p>
                </div>
            </span>
        </li>
        <li class="sidebar-item">
            <a href="{% url 'admin_dashboard' %}" class="sidebar-link text-body">
                <i class="fa-solid fa-house"></i></i>
                <span class="text-body">Dashboard</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a href="{% url 'admin_listbooks' %}" class="sidebar-link text-body">
                <i class="fa-solid fa-book"></i>
                <span class="text-body">List of Books</span>
            </a>
        </li>

        <li class="sidebar-item">
            <a href="{% url 'admin_inventory' %}" class="sidebar-link text-body">
                <i class="fa-solid fa-boxes-stacked"></i>
                <span class="text-body">Inventory</span>
            </a>
        </li>

        <li class="sidebar-item">
            <a href="{% url 'admin_collections' %}" class="sidebar-link text-body">
                <i class="fa-solid fa-bookmark"></i>
                <span class="text-body">Book Collections</span>
            </a>
        </li>


        <li class="sidebar-item">
            <a href="{% url 'admin_usersettings' %}" class="sidebar-link text-body">
                <i class="fa-solid fa-user-gear"></i>
                <span class="text-body">User Management</span>
            </a>
        </li>
    </ul>
    <div class="sidebar-footer ">
        <a href="#" class="sidebar-link d-block d-lg-none">
            <i class="fa-solid fa-right-from-bracket"></i>
            <span>Logout</span>
        </a>
    </div>
</aside>